{% extends "base.html" %}

{%block content%}

<style>

    body {
        background-color: rgba(39, 44, 41, 0.2);
    }
    
    .container {
        min-width: 200px;,
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1 class="form-group m-3">Add Recipe</h1>

                    <div class="form-group m-3">
                        <input name="name" type="text" placeholder="Name of the recipe"class="form-control">
                    </div>

                    <div class="form-group m-3">
                        <span class="input-group-text">Enter a description</span>
                        <textarea required name="description" class="form-control" aria-label="Enter a description"></textarea>
                    </div>
                    
                
                    <div class="form-group m-3">
                        <input required name="image" type="file" class="form-control-file">
                    </div>
                    

                    <button type='submit' class="btn btn-primary m-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}